body{
    margin:0;
    font-family: 'Heebo', 'sans-serif';
}

.container{
    width:1440px;
    max-width:90%;
    margin:auto;

}
header{
    height:70px;
    box-shadow:0px 1px 6px rgba(0,0,0,0.1);
}

header section.logo{
    font-size:27px;
}
header section.logo span.blue-dots{
    background-color: #33C6DD;
    width:10px;
    height:10px;
    display:inline-block;
    vertical-align: middle;
    border-radius:5px;
}

header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;
}

header nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    
}
header nav ul li{
    display:inline-block;
    margin-right:26px;
    color:black;

}

header nav ul li:last-of-type{
    margin-right:0;
}

header nav ul a{
    text-decoration:none;
    color:#3E3E3E;
    font-size:15px;
}
section.hero{
    position:relative;
}

section.hero img{
    width:100%;
    height:auto;
    
}

section.hero .hero-content{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

section.hero .container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
    
}

section.hero h1,
section.hero p{
    color:white;
    margin-top:0;
    margin-bottom:20px;
    max-width:495px;
}

section.hero h1{
    font-weight: 400;
    font-size:50px;
    line-height:56px;
}


section.hero p{
    font-weight: 300;
    font-size:20px;
    line-height:28px;
}

section.hero button{
    width:200px;
    height:50px;
    font-size:16px;
    background-color:#33C6DD;
    border:1px solid #33C6DD;
    border-radius:25px;
    color:white;
    cursor:pointer;
    text-transform:uppercase;
}

