body{
    margin:0;
    font-family: 'Heebo', 'sans-serif';
}

.container{
    width:1440px;
    max-width:90%;
    margin:auto;

}
header{
    height:70px;
    box-shadow:0px 1px 6px rgba(0,0,0,0.1);
}

header section.logo{
    font-size:27px;
}
header section.logo span.blue-dots{
    background-color: #33C6DD;
    width:10px;
    height:10px;
    display:inline-block;
    vertical-align: middle;
    border-radius:5px;
}

header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;
}

header nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    
}
header nav ul li{
    display:inline-block;
    margin-right:26px;
    color:black;

}

header nav ul li:last-of-type{
    margin-right:0;
}

header nav ul a{
    text-decoration:none;
    color:#3E3E3E;
    font-size:15px;
}
section.hero{
    position:relative;
}

section.hero img{
    width:100%;
    height:auto;
    
}

section.hero .hero-content{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

section.hero .container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
    
}

section.hero h1,
section.hero p{
    color:white;
    margin-top:0;
    margin-bottom:20px;
    max-width:495px;
}

section.hero h1{
    font-weight: 400;
    font-size:50px;
    line-height:56px;
}


section.hero p{
    font-weight: 300;
    font-size:20px;
    line-height:28px;
}

section.hero button{
    width:200px;
    height:50px;
    font-size:16px;
    background-color:#33C6DD;
    border:1px solid #33C6DD;
    border-radius:25px;
    color:white;
    cursor:pointer;
    text-transform:uppercase;
}

section.best-sellers{
    padding-top:90px;
    padding-bottom:80px;

}

section.best-sellers h2{
    margin-top:0;
    margin-bottom:30px;
    font-size:34px;
    font-weight:400;
    line-height:42px;
    text-align:center;
}

section.best-sellers hr{
    width:60px;
    margin:auto;
    border:none;
    height:6px;
    background-color: #33C6DD;
    margin-bottom:76px;
}

section.best-sellers .product-slider .product{
    width:33%;
    padding:40px;
    text-align:center;
    border:1px solid #DDDDDD;
    border-radius:8px;
    margin:0 8px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position:relative;
}

section.best-sellers .product-slider .product.new::before{
    
    content:'New';
    position:absolute;
    top:12px;
    right:12px;
    color:white;
    padding:5px 26px;
    text-align:center;
    background-color:#614DC9;
    border-radius:16px;
    font-weight:700;
    font-size:14px;
}

section.best-sellers .product-slider .product img{
    max-width:100%;
}

section.best-sellers .product-slider .container{
    display:flex;
    justify-content:space-around;
}

section.best-sellers .product-slider .product img{
    max-width:100%;
}

section.best-sellers .product-slider .product .product-info{
   margin-top:50px;
}



section.best-sellers .product-slider .product h5{
   font-weight:400;
   font-size:14px;
   line-height:30px;
   color:#33C6DD;
   margin-top:0;
   margin-bottom:10px;

}

section.best-sellers .product-slider .product h4{
    font-weight:400;
    font-size:20px;
    line-height:26px;
    margin-top:0;
    margin-bottom:10px;
    
    
 }

 section.best-sellers .product-slider .product h3{
    font-weight:700;
    font-size:28px;
    line-height:30px;
    margin-top:0;
    margin-bottom:0px;
    
    
 }

 section.best-sellers .product-slider .product .price{
    display:flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom:20px;
 }

 section.best-sellers .product-slider .product .price.discount h3{
    color:#EC1C1C;
   }
  

 section.best-sellers .product-slider .product span.original-price{
  margin:0 10px;
  font-size:16px;
  line-height:24px;
  text-decoration: line-through;
  color:#9B9B9B;
 }

 section.best-sellers .product-slider .product button{
   height:44px;
   background-color:transparent;
   border:1px solid #000000;
   border-radius:25px;
   width:220px;
   max-width:100%;
   font-size:16px;
   line-height: 24px;
   text-transform: uppercase;

    
    
 }


